<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    
    
    
    
    
    
    

<h1><a href="/views/babbage.html">babbage</a></h1>
<h1><a href="/views/berners-lee.html">berners-lee</a></h1>
<h1><a href="/views/clarke.html">clarke</a></h1>
<h1><a href="/views/hamilton.html">hamilton</a></h1>
<h1><a href="/views/hopper.html">hopper</a></h1>
<h1><a href="/views/lovelace.html">lovelace</a></h1>
<h1><a href="/views/turing.html">turing</a></h1>
<h1><a href="/views/index.html">home</a></h1>

    <header>
        <main>
            hola
        </main>
    </header>
    <section>

        <article>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem ut eius dolorum illum unde corrupti fugiat, modi fugit deleniti repellendus expedita sequi voluptatibus recusandae. Odio vero eveniet aliquam atque repellat!</article>
        <article>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quia dignissimos nostrum ipsum ducimus porro quidem! Aliquid ut ipsam consequatur repellat nihil, corrupti perspiciatis obcaecati natus. Enim minus in officiis?</article>
        <article>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis consectetur soluta praesentium excepturi consequuntur eligendi quasi cumque eius iusto, iure vel exercitationem. Voluptates deserunt assumenda delectus. Vel, aliquid. Excepturi, blanditiis!</article>

    </section>
    <footer>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto neque porro, repudiandae earum quae, itaque, illum explicabo voluptas quas molestiae laboriosam. Eveniet doloremque facere dolor reprehenderit at vitae in rem.
    </footer>

</body>
</html>