<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lovelace</title>
</head>
<body>
    <h1>bienvenido a lovelace</h1>

    <h1><a href="/views/babbage.html">babbage</a></h1>
    <h1><a href="/views/berners-lee.html">berners-lee</a></h1>
    <h1><a href="/views/clarke.html">clarke</a></h1>
    <h1><a href="/views/hamilton.html">hamilton</a></h1>
    <h1><a href="/views/hopper.html">hopper</a></h1>
    <h1><a href="/views/lovelace.html">lovelace</a></h1>
    <h1><a href="/views/turing.html">turing</a></h1>
    <h1><a href="/views/index.html">home</a></h1>
</body>
</html>